
<div class="mat-elevation-z8">
  <table mat-table matSort [dataSource]="dataSource">
    <!-- Job Title Column -->
    <ng-container matColumnDef="admsnTitle">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Admission</th>
      <td mat-cell *matCellDef="let element of admsnList">{{ element.admsnTitle }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="desc">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element of admsnList">{{ element.desc }}</td>
    </ng-container>

    <!-- EligiBility Column -->
    <ng-container matColumnDef="eligibility">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>EligiBility</th>
      <td mat-cell *matCellDef="let element of admsnList">{{ element.eligibility }}</td>
    </ng-container>

     <!-- Start Date Column -->
     <ng-container matColumnDef="Posts">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Posts</th>
      <td mat-cell *matCellDef="let element of admsnList">
        {{ element.Posts }}
      </td>
    </ng-container>

    <!-- Start Date Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Start Date</th>
      <td mat-cell *matCellDef="let element of admsnList">
        {{ element.startDate }}
      </td>
    </ng-container>

    <!---Last Date Column-->
    <ng-container matColumnDef="lastDate">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Last Date</th>
      <td mat-cell *matCellDef="let element of admsnList">{{ element.lastDate }}</td>
    </ng-container>

    <!---Action Column--->
    <ng-container matColumnDef="applyUrl">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element of admsnList">
        <a
          [href]="element.applyUrl"
          mat-raised-button
          target="_blank"
          color="primary"
        >
          Apply</a
        >
      </td>
    </ng-container>
    <!-- Notifation Column -->
    <ng-container matColumnDef="notify">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Notification</th>
      <td mat-cell *matCellDef="let element of admsnList">
        <a
          [href]="element.notify"
          mat-raised-button
          target="_blank"
          color="primary"
        >
          Download</a
        >
      </td>
    </ng-container>

    <!-- EligiBility Column -->
    <ng-container matColumnDef="examDate">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Exam Date</th>
      <td mat-cell *matCellDef="let element of admsnList">{{ element.examDate }}</td>
    </ng-container>

    <!-- EligiBility Column -->
    <ng-container matColumnDef="resultDate">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Result Date</th>
      <td mat-cell *matCellDef="let element of admsnList">{{ element.resultDate }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
